<!DOCTYPE html>
<html lang="en">
<head>
	<title>Crop Recommender</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css/sty.css"/>
<!--===============================================================================================-->
	
<!--===============================================================================================-->
</head>
<body>
 <div class="bg-contact3" style="background-image: url('../static/images/admin.jpg');">
		<div class="container-contact3">
	
				<form method="post" action="/">
					<center><h2>
						Crop Recommender
					</h2>

					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<input class="input3" type="text" name="n" placeholder="Nitrogen Content(1-150)" required>
						<span class="focus-input3"></span>
					</div>
					
					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<input class="input3" type="text" name="p" placeholder="Phosphorus Content(1-150)" required>
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<input class="input3" type="text" name="k" placeholder="Potassium Content(1-150)" required>
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input3" type="text" name="temp" placeholder="Temprature(18-40)" required>
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input3" type="text" name="hum" placeholder="Humidity(50-100)" required>
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input3" type="text" name="ph" placeholder="pH of soil(4-7)" required>
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input3" type="text" name="rain" placeholder="Rainfall in mm(40-300)" required>
						<span class="focus-input3"></span>
					</div>

					
					<div class="container-contact3-form-btn">
						<button class="contact3-form-btn" type="submit" style="width:100%;border: radius 4px;">
							Submit
								</div>
							<div class="container-contact3-form-btn">
						<button class="contact3-form-btn" type="Reset" style="width:100%;border: radius 4px;">
							Reset
						</button>
						<a href="http://localhost/farmer_complaints/farmer/home.php">Back to control panael</a>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/select2/select2.min.js"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="../static/js/main.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
